* {
  background-color: #005792;
}

.input-output-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #222;

  /* black; */
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
}

.input {
  height: 100px;
  width: 95%;
  margin: 20px;
  font-size: 30px;
  padding: 5px;
  border-radius: 10px !important;
  border-color: black;
  text-align: center;
  align-items: center;
}

.input::placeholder {
  color: black;
}
