* {
  background-color: #fbf9ff;
}

.input-output-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
}

.button {
  background-color: #222;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  font-family: 'Nunito Sans', sans-serif;
}

.input {
  height: 100px;
  width: 95%;
  margin: 20px;
  font-size: 30px;
  padding: 5px;
  border-radius: 10px !important;
  border-color: black;
  text-align: center;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
}

.input::placeholder {
  color: black;
}

a {
  color: black;
}

#recentURL {
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
}

td {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 30px;
  border: 2px solid black;
  padding: 5px;
}

td a {
  color: black;
}
